.box{
    position: absolute;
    top: 20%;
    border: 2px solid black;
    margin-left: 35vw;
    background-color: rgb(99, 94, 94);
}
#row1{
    margin-top: 4px;
    margin-left: 9px;
   width: 90%;
   margin-bottom: 6px;
   background-color: white;
   height: 30px;
}
#row2{
    margin-left: 9px;
    width: 90%;
    margin-bottom: 6px;
    background-color: white;
    height: 30px;
 }
 #row4{
    margin-left: 9px;
    width: 90%;
    margin-bottom: 6px;
    background-color: white;
    height: 30px;
 }
.input1{
    margin-top: 5px;
    margin-bottom: 6px;
    padding: 2px;
    width: 80%;
    margin-left: 13px;
}
.btn1{
    width: 50px;
    margin-bottom: 6px;
    margin-left: 5px;
}
.column1{
    font-weight: 500;
    font-size: larger;
}
#btn11{
    color: red;
    font-weight: 600;
}
#btn12{
    color: red;
    font-weight: 400;
}
#btn13{
    color: red;
    font-weight: 400;
}
#btn21{
    color: red;
    font-weight: 400;
}
#btn22{
    color: red;
    font-weight: 600;
}
#btn23{
    color: red;
    font-weight: 400;
}
